# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
out/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# Testing
coverage/
.nyc_output/

# IDEs and editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Temp
.temp/
.tmp/
tmp/

# TypeScript
*.tsbuildinfo

# NestJS
dist/
.nest/

# Prisma
prisma/.env

# Cache
.cache/

# Misc
*.orig
.eslintcache
